/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
    height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ====== Custom properties ====== */
:root {
    /* Color */
    --btn-social-clr: hsl(223, 87%, 63%);
    --placeholder-clr: hsl(223, 100%, 88%);
    --error-clr: hsl(354, 100%, 66%);
    --txt-clr: hsl(0, 0%, 59%);
    --bold-clr: hsl(209, 33%, 12%);
    /* Font */
    --ff: 'Libre Franklin', sans-serif;
    --fs: 1.25rem;
    --fw-light: 300;
    --fw-semiBold: 600;
    --fw-bold: 700;
}

/* ====== Style ====== */
body {
    min-height: 100%;
    font-family: var(--ff);;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-block-start: 5rem;
    margin-inline: 2rem;
}

.logo {
    max-width: 3.5rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sr-title {
    position: absolute;
    opacity: 0;
}

.title {
    font-weight: var(--fw-light);
    color: var(--txt-clr);
    font-size: 1.344rem;
}

.title b {
    color: var(--bold-clr);
}

.subscribe {
    font-size: 0.75rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    position: absolute;
    opacity: 0;
}

#email {
    border: 1px solid var(--placeholder-clr);
    border-radius: 1.5rem;
    padding: 0.375rem 2rem;
}

#email::placeholder {
    font-size: 0.75rem;
    color: var(--placeholder-clr);
}

.notify {
    background-color: var(--btn-social-clr);
    border: none;
    border-radius: 1.5rem;
    padding-block: 0.625rem;
    font-size: 0.75rem;
    color: white;
    box-shadow: 0 0.5rem 1rem -0.5rem var(--btn-social-clr);
}
