/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
    height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ====== Custom properties ====== */
:root {
    /* Color */
    --btn-social-clr: hsl(223, 87%, 63%);
    --placeholder-clr: hsl(223, 100%, 88%);
    --error-clr: hsl(354, 100%, 66%);
    --txt-clr: hsl(0, 0%, 59%);
    --social-border-clr: hsla(0, 0%, 59%, 0.3);
    --bold-clr: hsl(209, 33%, 12%);
    /* Font */
    --ff: 'Libre Franklin', sans-serif;
    --fs: 1.25rem;
    --fw-light: 300;
    --fw-semiBold: 600;
    --fw-bold: 700;
}

/* ====== Style ====== */